.container {
    display: flex;
    width: 95%;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.todos {
    display: flex;
    width: 47.5%;
    flex-direction: column;
    padding: 15px;
    border-radius: 16px;
    border: 2px solid var(--color-outline-secondary);
    background-color: var(--color-outline);
}

.heading {
    font-size: 30px;
    color: white;
}

@media (max-width: 1100px) {
    .todos {
      width: 45%;
    }

    .container {
        padding: 10px;
      }
  }

  @media (max-width: 700px) {
    .container {
      width: 95%;
      flex-direction: column;
    }

    .todos {
      width: 95%;
      margin-bottom: 10px;
    }
  }